<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IQDOC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IQDOC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Isolated Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="5000" numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage Cache Store" />
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="5000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
      <add name="Isolated Storage Cache Store" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" encryptionProviderName="" partitionName="IQDOCCache" />
    </backingStores>
  </cachingConfiguration>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <IQDOC.My.MySettings>
      <setting name="StrConnectionTO" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="IQDOC_apocalipsis_IQD_Service" serializeAs="String">
        <value>http://apocalipsis/IQL_WS/IQL_WS.asmx</value>
      </setting>
      <setting name="habilitarTipoCliente" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PaginaCambioPsw" serializeAs="String">
        <value>9F402F74921078CDC904642A4BB11B5F367B9D8612AF99A1738D152DA4A2DA7604CEFC9B7514E8964FD10B3B29604F13ED99F1453EFE4FCA8768DF94CDF67F99</value>
      </setting>
      <setting name="CiudadFisicos" serializeAs="String">
        <value>cab2d0af-7851-4888-8bf2-815386bf44ba</value>
      </setting>
      <setting name="ODRStrConnection" serializeAs="String">
        <value> </value>
      </setting>
      <setting name="LoginUCM" serializeAs="String">
        <value>sysadmin</value>
      </setting>
      <setting name="PasswordUCM" serializeAs="String">
        <value>D65D2811BDC886EC</value>
      </setting>
      <setting name="IQDOC_UCMService_Search" serializeAs="String">
        <value>http://SRVUCMPruebas.IQNetwork.hdq/ucmrecobro/idcplg</value>
      </setting>
      <setting name="UCMUrl" serializeAs="String">
        <value>9F402F74921078CD584587BBF5B00AF50F3F7888D67172FE04513328FD9582FE</value>
      </setting>
      <setting name="IQDOC_apocalipsis_IQD_Service1" serializeAs="String">
        <value>http://apocalipsis/IQL_WS/IQL_WS.asmx</value>
      </setting>
      <setting name="IQDOC_UCMService_Search1" serializeAs="String">
        <value>http://SRVUCMPruebas.IQNetwork.hdq/ucmrecobro/idcplg</value>
      </setting>
      <setting name="StrConnection" serializeAs="String">
        <value>BC0D7C4EC863CEF5AA3690EE3F97F07506488BB3BC9F10FF7953E590C36863572E72726D24B0770CF93F3984561839FF13A77A513A3E8D50FE6912C34FDA20EA428CEB972495C9F83D399D03AF02259B79C3E4638B17F1FE4D5B68523D789FBDF68A07D32D9FC913</value>
      </setting>
      <setting name="urnRegional" serializeAs="String">
        <value>urn:IQ.Cuentas</value>
      </setting>
      <setting name="SSO" serializeAs="String">
        <value>111F7AD576AD5BB45BFF5DCFE7FE12D7FE95D2E32F7E8E74E52955FCE76E605F8FA53465065E043C45ADA29FC7A39476BFD39B6ECFFD6C417AEC7D73D4B322D779DD59757054689E</value>
      </setting>
      <setting name="Ciudad" serializeAs="String">
        <value>4742FAFE65CCDCB1A05FB8CC7AE10014</value>
      </setting>
      <setting name="ImageServiceUrl" serializeAs="String">
        <value>6E7BCAEEED361B69FF1AB7354C5E656CBF9079C89B3208AB240CCD88E15E2A19CB97454BF4B09B8D6FCF7D32C4DB5CD3</value>
      </setting>
      <setting name="Modo" serializeAs="String">
        <!--<value>AFEA2D01FD7ABC37F0460DFDF7151969</value>-->
        <value>B9902408A5659D7D8B8507D4BBF63E88</value>

      </setting>
      <setting name="ProxyCargaP8Url" serializeAs="String">
        <value>http://srmdep8l05/WSRegistrarCarga/Listener.asmx</value>
      </setting>
    </IQDOC.My.MySettings>
  </applicationSettings>
  
  <appSettings>
      <add  key="FE_Adquiriente" value="800251440"/>
      <add  key="FE_VersionXml" value="2.1"/>
   </appSettings>

  <userSettings>
    <IQDOC.My.MySettings>
      <setting name="ServidorArchivos" serializeAs="String">
        <value>\\arcangel\TESTIMGCOLSUBSIDIO</value>
      </setting>
    </IQDOC.My.MySettings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IImageServiceImageContract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="20000000" maxBufferPoolSize="524288" maxReceivedMessageSize="20000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="20000000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WCFTitanIQDocEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuditMessageContract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
		<binding name="BasicHttpBinding_IServiceRouterSanitas" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="5242880" maxBufferSize="5242880" maxReceivedMessageSize="5242880"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

		
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="20000000" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="NoMSMQSecurity" exactlyOnce="true">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBindingAudit" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536" maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5" retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false" useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288" useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint address="http://bog-tec-wb.iqnetwork.hdq:81/ImageService/ImageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageServiceImageContract" contract="IImageServiceImageContract" name="BasicHttpBinding_IImageServiceImageContract" />
      <!--endpoint address="net.tcp://serviciosweb:8010/ImageService/ImageManager" binding="netTcpBinding" bindingConfiguration="netTcpEndpoint" contract="IImageServiceImageContract" name="netTcpEndpoint" /-->
      <endpoint address="http://bogwksdescp6197.iqnetwork.hdq/WCFTitanIQDocServiceHost/WCFTitanIQDocServiceReference.svc" binding="basicHttpBinding" bindingConfiguration="WCFTitanIQDocEndpoint" contract="TitanIQDocServiceContract" name="WCFTitanIQDocEndpoint" />
      <endpoint address="http://aud:9020/AuditService/AuditService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditMessageContract" contract="IAuditMessageContract" name="BasicHttpBinding_IAuditMessageContract" />
      <endpoint address="net.msmq://aud/AuditService" binding="netMsmqBinding" bindingConfiguration="NetMsmqBindingAudit" name="NetMsmqBindingAudit" contract="AuditService.IAuditMessageContract" />
<endpoint address="http://bog-tec-wb.iqnetwork.hdq:81/Router_Test/Service.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRouterSanitas"
              contract="RouterSanitas.IRouterService" name="BasicHttpBinding_IRouterService" />

    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic.Compatibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>